@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

$fa-font-path: '../bower_components/font-awesome/fonts/';
@import "../bower_components/font-awesome/scss/font-awesome";
$ionicons-font-path: '../bower_components/Ionicons/fonts/';
@import "../bower_components/Ionicons/scss/ionicons";

@import "../bower_components/bootstrap/scss/variables";
@import "../bower_components/bootstrap/scss/mixins";
@import "../bower_components/bootstrap/scss/bootstrap-grid";
@import "../bower_components/bootstrap/scss/card";

$orange:       #f39c12;
$darkOrange:   #e67e22;
$grey:         #7f8c8d;
$lightGrey:    #e4e4e4;
$darkGrey:      #808080;










body{
  font-family: 'Montserrat', sans-serif;
}

.card-columns{
  margin-top: 10px;
  @include media-breakpoint-only(xs) {
    column-count: 2;
  }
}
.card{
    overflow: hidden;
    break-inside: avoid-column;
    @include media-breakpoint-only(xs) {
      margin-bottom: 20px;
    }
    h3{
      margin-top: 0;
    }
}
.card-title{
  text-align: center;
}



//----------------------------------------
// Directives
//----------------------------------------
@import "../scripts/directives/recipe-search/recipe-search";
