<div class="container">
  <div class="row">
    <recipe-search recipes="recipes" filtered-recipes="filteredRecipes"></recipe-search>
  </div>
  <div class="row">
    <div class="col card-columns">
      <div class="card" ng-repeat="item in filteredRecipes">
        <img class="card-img-top img-fluid" ng-src="{{item.image || 'images/default.jpg'}}">
        <div class="card-block">
          <h3 class="card-title" ng-bind="item.title"></h3>
          <p class="card-text" ng-bind="item.description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
